* {
    box-sizing: border-box;
}

/*.required::after {
    content: ' *';
    color: red;
}


/* 1st Form style */
/*#form1 {
    width: 370px;
    font-family: sans-serif;
}

#form1 label {
    margin-top: 1em;
    margin-bottom: 0.5em;
    display: block;
    color: #363636;
    font-weight: bold;
}

#form1 #first_name,
#form1 #last_name {
    padding: 0.5em;
    display: inline;
    width: 180px;
    border: 1px solid #D8D8D8;
}

#form1 #email,
#form1 #subject,
#form1 #message {
    padding: 0.5em;
    width: 100%;
    border: 1px solid #D8D8D8;
}

#form1 #submit {
    padding: 0.75em;
    margin-top: 1em;
    color: white;
    background-color: #3798AE;
    border: none;
}

/* 2nd Form style

h1 {
    width: 470px;
    display: block;
    font-family: sans-serif;
    font-style: italic;
    font-size: 1em;
    color: #363636;
    border-bottom: 1px solid #D8D8D8;
}

#form2 {
    width: 400px;
    font-family: sans-serif;
    color: #363636;
}
#form2 .form-group{
    margin-top: 1em;
    width: 100%;
}
#form2 label {
    display: inline-block;
    width: 120px;
    font-weight: bold;
}

#form2 input {
    padding: 0.5em;
    border: 1px solid #D8D8D8;
    border-radius: 3px;
}

#form2 textarea {
    display: inline;
    vertical-align: top;
    border: 1px solid #D8D8D8;
    border-radius: 3px;
}

#form2 .tel {
    width: 40px;
}

#form2 select {
    padding: 0.5em;
    width: 122px;
    background-color: #DDDDDD;
    border: 1px solid #D8D8D8;
    border-radius: 3px;
}

#form2 #submit {
    padding: 0.5em 0.75em;
    margin-top: 1em;
    margin-left: 125px;
    background-color: #FF8500;
    color: white;
    border-radius: 5px;
}

/* 3rd Form style

#form3 {
    width: 600px;
}

fieldset {
    background-color: #fff3f3;
    border: 1px solid #ffcfd1;
    border-radius: 10px;
    padding: 2.5em;
    margin-top: 1em;
    width: 100%;
}

legend {
    background-color: #fff3f3;
    border: 1px solid #ffcfd1;
    border-bottom: 0;
    border-radius: 10px 10px 0 0;
    padding: 0.5em;
    color: #ff93c8;
}


label {
    display: inline-block;
    color: #FF4EA4;
    font-weight: bold;
    width: 150px;
}

input,textarea,select {
    background-color: #FFF3F3;
    border: 1px solid #FFB7DA;
    border-radius: 5px;
    color: #FF4EA4;
    width: 225px;
    padding: 0.5em;
    margin: 0.5em;
}

textarea {
    vertical-align: top;
    width: 300px;
}

#submit {
    background-color: #FD0081;
    border: 2px solid #D8137E;
    color: #F9B3D6;
    width: 95px;
    margin-left: 160px;
}*/

/*
#formfill {
    margin-left: 3em;
    width: 40%;
    font-family: sans-serif;
}

h1 {
    text-align: center;
    color: #5c5c5c;
}

fieldset {
    padding: 0;
    margin-bottom: 1.5em;
    border-radius: 5px;
    color: #c6c6c6;
}

legend {
    margin-left: 0.5em;
}

input{
    display: block;
    margin-bottom: 0.5em;
    padding: 0.5em;
    width: 100%;
    overflow: hidden;
    border: 0;
}

span {
    display: block;
    padding: 0.3em;
    background-color: #f3f3f3;
    text-align: center;
}

#send {
    margin: auto;
    padding: 1em 1.5em;
    border-radius: 5px;
    width: 25%;
    background-color: #4636ff;
    border-bottom: 2px solid #6278ff;
    color: white;
}*/

/*#last-form {
    width: 40%;
    margin-left: 0.3em;
    color: grey;
}

#last-form > div {
    padding: 1.5em;
    margin-left: 1em;
    background-color: #2A88AD;
    border-radius: 1em 1em 0 0;
    border: 1px solid #257C9E;
    color: white;
}

section {
    padding: 1em;
    margin-left: 1em;
    box-shadow: 0 0 3px lightgrey;
    border-radius: 0 0 0.3em 0.3em;
}

#last-form > div > p,
h1 {
    margin: 0;
}

span {
    padding: 0.4em 0.7em;
    background-color: #2A88AD;
    color: white;
    border-radius: 180px;
}

h2 {
    display: inline;
    margin: 0 0.5em;
    font-size: 1.2em;
    color: #2A88AD;
}

fieldset {
    margin: 0.5em 0;
    padding: 1em;
    background-color: #F8F8F8;
    border: 0;
    border-radius: 0.3em;
}

label {
    display: block;
    margin-top: 1em;
}

input:not([type="checkbox"]):not([type="submit"]),
textarea {
    padding: 0.5em;
    background-color: white;
    border: 1px solid darkgrey;
    border-radius: 0.3em;
    width: 100%;
}

label[for="policy"] {
    display: inline;
    font-size: 0.7em;
}

label[for="policy"],
input[type="checkbox"] {
    float: right;
}

input[type="submit"] {
    padding: 0.5em 1em;
    color: white;
    background-color: #2A88AD;
    border: 1px solid #257C9E;
    border-radius: 0.3em;
}*/

/*#simpleform {
    width: 50%;
    padding: 2em;
    background-color: #495a70;
    border: 6px solid #52657e;

}

label {
    width: 30%;
    margin-bottom: 1em;
    display: inline-block;
    color: white;
}

input:not([type="submit"]) {
    width: 65%;
    border: 0;
    border-bottom: 1px dashed #7794b9;
    background-color: inherit;
}

input[type="submit"] {
    padding: 0.7em;
    margin-left: 30%;
    background-color: #566b86;
    color: #8598b2;
    border: 0;
    border-radius: 0.3em;
}*/

#contactus {
    width: 40%;
}

div {
    background-color: #43d1af;
}

div h1 {
    padding: 0.75em;
    margin: 0;
    text-align: center;
    color: white;
}

section {
    padding: 1em;
    background-color: #f7f7f7;
}

input {
    display: block;
    width: 100%;
    padding: 0.5em;
    margin: 0.5em;
    border: 0;
}

textarea {
    width: 100%;
    padding: 0.5em;
    margin: 0.5em;
    border: 0;
}

input[type="submit"] {
    background-color: #43d1af;
    color: white;
}
