* {
    box-sizing: border-box;
}

.required::after {
    content: ' *';
    color: red;
}


/* 1st Form style */
#form1 {
    width: 370px;
    font-family: sans-serif;
}

#form1 label {
    margin-top: 1em;
    margin-bottom: 0.5em;
    display: block;
    color: #363636;
    font-weight: bold;
}

#form1 #first_name,
#form1 #last_name {
    padding: 0.5em;
    display: inline;
    width: 180px;
    border: 1px solid #D8D8D8;
}

#form1 #email,
#form1 #subject,
#form1 #message {
    padding: 0.5em;
    width: 100%;
    border: 1px solid #D8D8D8;
}

#form1 #submit {
    padding: 0.75em;
    margin-top: 1em;
    color: white;
    background-color: #3798AE;
    border: none;
}

/* 2nd Form style */

h1 {
    width: 470px;
    display: block;
    font-family: sans-serif;
    font-style: italic;
    font-size: 1em;
    color: #363636;
    border-bottom: 1px solid #D8D8D8;
}

#form2 {
    width: 400px;
    font-family: sans-serif;
    color: #363636;
}
#form2 .form-group{
    margin-top: 1em;
    width: 100%;
}
#form2 label {
    display: inline-block;
    width: 120px;
    font-weight: bold;
}

#form2 input {
    padding: 0.5em;
    border: 1px solid #D8D8D8;
    border-radius: 3px;
}

#form2 textarea {
    display: inline;
    vertical-align: top;
    border: 1px solid #D8D8D8;
    border-radius: 3px;
}

#form2 .tel {
    width: 40px;
}

#form2 select {
    padding: 0.5em;
    width: 122px;
    background-color: #DDDDDD;
    border: 1px solid #D8D8D8;
    border-radius: 3px;
}

#form2 #submit {
    padding: 0.5em 0.75em;
    margin-top: 1em;
    margin-left: 125px;
    background-color: #FF8500;
    color: white;
    border-radius: 5px;
}

/* 3rd Form style */

#form3 {
    width: 600px;
}

fieldset {
    background-color: #fff3f3;
    border: 1px solid #ffcfd1;
    border-radius: 10px;
    padding: 2.5em;
    margin-top: 1em;
    width: 100%;
}

legend {
    background-color: #fff3f3;
    border: 1px solid #ffcfd1;
    border-bottom: 0;
    border-radius: 10px 10px 0 0;
    padding: 0.5em;
    color: #ff93c8;
}


label {
    display: inline-block;
    color: #FF4EA4;
    font-weight: bold;
    width: 150px;
}

input,textarea,select {
    background-color: #FFF3F3;
    border: 1px solid #FFB7DA;
    border-radius: 5px;
    color: #FF4EA4;
    width: 225px;
    padding: 0.5em;
    margin: 0.5em;
}

textarea {
    vertical-align: top;
    width: 300px;
}

#submit {
    background-color: #FD0081;
    border: 2px solid #D8137E;
    color: #F9B3D6;
    width: 95px;
    margin-left: 160px;
}
